on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

name: Test
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
      with:
        go-version: '^1.17.3'
    - name: NPM Deps
      run: npm install
    - name: Run Test
      run: make test
    - name: Coveralls GitHub Action
      uses: coverallsapp/github-action@5cbfd81b66ca5d10c19b062c04de0199c215fb6e # v2
      with:
        file: ./coverage/cover.out
        github-token: ${{ secrets.GITHUB_TOKEN }}
